/* Déclaration de la police Poppins (Regular 400) */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular.woff2') format('woff2'),
        url('../fonts/poppins-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Application globale */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-image: url('../imgs/test.webp');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    color: #222;
    margin: 0;
    padding: 0;
}

h1,
h2,
p {
    text-align: center;
}

p {
    font-size: 1.25rem;
}

h1 {
    font-size: 3.70rem;
}

.main {
    width: 100%;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
}

.logo img {
    display: block;
    margin: 4rem auto;
}

.socials {
    margin: 4rem 0;
    text-align: center;
}

.socials a img {
    width: 36px;
    height: 36px;
    margin: 0 8px;
    transition: transform 0.2s ease;
}

.socials a img:hover {
    transform: scale(1.1);
}

.appsstores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 1rem;
    text-align: center;
}

a {
    text-decoration: none;
}

.app-download img {
    width: 160px;
    height: auto;
    transition: transform 0.2s ease;
}

.app-download img:hover {
    transform: scale(1.05);
}

@media (max-width: 1330px) {
    body {
        padding: 15px;
    }

    .logo img {
        margin: 0 auto;
        width: 80%;
        height: auto;
    }

    h1 {
        font-size: 2rem;
        line-height: 2.25rem;
    }
}